.order-active {
    color: inherit;
    text-decoration: none; /* avoid link underline */
}

.order-inactive {
    color: grey;
    text-decoration: none; /* avoid link underline */
}

.errorlist {
    color:red;
}

footer {
    font-size: 80%;
}
footer a {
    text-decoration: none;
}
footer a:visited {
}

pre.file_contents_lineno a {
    text-decoration: none;
    color: inherit;
}
pre.file_contents_lineno a:hover {
    text-decoration: underline;
}

div.file_highlighted pre {
    margin: 0;
}

/* Style logout button to appear in the same way it did when we were logging
 * out using a GET request via a link.
 */
#logout-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/*
 * A height attribute (any height attribute) is needed on a table element to be
 * able to use height: 100% inside table cells.
 *
 * See https://stackoverflow.com/a/73399942
 */
table {
    height: fit-content;
}


div.table-filter-form-container
{
    width: 30rem;
}

form.table-filter-form .select2
{
    flex-grow: 1;
}

/* Bootstrap supports buttons styled like links, but their default alignment
 * and padding means that they aren't quite suitable for use in the middle
 * of a paragraph of text.  Adjust these.
 */
button.btn-link.in-running-text
{
    vertical-align: baseline;
    padding: 0;
}

#scope-workspace-list th:nth-last-child(-n+3),
#scope-workspace-list td:nth-last-child(-n+3) {
    width: 1%;
    white-space: nowrap; /* Prevent wrapping */
}

.workflow-ancestor {
    opacity: 0.6;
}

.table-tds-vertical-align-middle td {
    vertical-align: middle;
}

.table-ths-vertical-align-middle th {
    vertical-align: middle;
}
