*.py[cod]

*.egg
*.egg-info
*.so

*.swp

/.mypy_cache
/.tox
/.ropeproject
/.idea
/MANIFEST

/build/

/data

/debusine/project/settings/local.py
/debusine/signing/settings/local.py

/docs/_build/

/.coverage/
/venv/
/ve/
