"""Site-specific settings

Rename this file to local.py and edit it to customize the settings of your
Debusine installation. By default it imports settings from the ``selected.py``
file which is a symlink to the type of installation to you have
(typically, ``production.py`` or ``development.py``) and lets you add
overrides on top of those type-of-installation-specific settings.
"""
# Load the selected configuration (selected.py is a symlink to preferred config)

from . import defaults
from .selected import *

## Add your custom settings here

# You can enable supplementary Django applications here, refer to the
# documentation for details about what they do
INSTALLED_APPS = defaults.INSTALLED_APPS.copy()
INSTALLED_APPS.extend([
    # Can be useful to create visualizations of the models
    # 'django_extensions',
])
