[Unit]
Description=Debusine Signing Worker
After=debusine-signing-migrate.service
Requires=debusine-signing-migrate.service
ConditionPathExists=/etc/debusine/signing/config.ini

[Install]
WantedBy=multi-user.target

[Service]
User=debusine-signing
Group=debusine-signing
WorkingDirectory=~
PrivateMounts=true
# TODO: Once we can assume Linux >= 6.4, this should become
# "/tmp:mode=01777,noswap /var/tmp:mode=01777,noswap".  In the meantime,
# deployments that want extra protection against private key material
# being swapped to disk under memory pressure can set that using a drop-in
# unit.
TemporaryFileSystem=/tmp:mode=01777 /var/tmp:mode=01777
ExecStart=/usr/bin/debusine-signing signing_worker
Restart=on-failure
RestartSec=5
Environment=LANG=C.UTF-8
